<h2>My Customer Account</h2>

<h2>My Customer Information</h2>
<p>
  <%= @customer.first_name %>
  <%= @customer.last_name %>
  <%= @customer.make %>
  <%= @customer.model %>
</p>



<h2>My Reserved Spots</h2>
<% @customer.spots.each do |spots| %>
  <%= spots.address %>
  <%= spots.zipcode %>
  <%= spots.price %>
  <%= spots.description %>

  <%= form_for [@spots, @customer], url: customer_path do |form| %>
  <%= form.hidden_field :available, :value => true %></br>
  <%= form.hidden_field :customer_id, :value => nil %></br>
  <%= form.submit "Cancel reservation of spot" %>
  <% end %>
<% end %>
