<h1>Vendor Customer Form</h1>
<p>
  Fill in information to start renting your spot!
</p>


<%= bootstrap_form_for @vendor do |form| %>
  <%= form.text_field :first_name, label: "First Name" %></br>
  <%= form.text_field :last_name, label: "Last Name" %></br>
  <%= form.hidden_field :id, :value => current_user.id %>
  <%= form.submit %>
<% end %>
